# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Node
node_modules/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug
npm-debug.*
*.log

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# EAS
.eas/

# Generated
nativewind-env.d.ts
