{
  "openapi": "3.1.0",
  "info": {
    "title": "blah.chat API",
    "version": "1.0.0",
    "description": "Stable public API contract for blah.chat clients."
  },
  "servers": [
    {
      "url": "https://blah.chat"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "ApiSys": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "async": {
            "type": "boolean"
          },
          "timestamps": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["entity"],
        "additionalProperties": true
      },
      "ApiError": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "details": {}
            },
            "required": ["message"],
            "additionalProperties": true
          }
        ]
      },
      "ApiEnvelope": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "sys": {
            "$ref": "#/components/schemas/ApiSys"
          },
          "data": {},
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": ["status", "sys"],
        "additionalProperties": false
      },
      "SendMessageRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "thinkingEffort": {
            "type": "string",
            "enum": ["none", "low", "medium", "high"]
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["file", "image", "audio"]
                },
                "name": {
                  "type": "string"
                },
                "storageId": {
                  "type": "string"
                },
                "mimeType": {
                  "type": "string"
                },
                "size": {
                  "type": "number"
                }
              },
              "required": ["type", "name", "storageId", "mimeType", "size"],
              "additionalProperties": false
            }
          }
        },
        "required": ["content"],
        "additionalProperties": false
      },
      "CreateConversationRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "systemPrompt": {
            "type": "string"
          }
        },
        "required": ["model"],
        "additionalProperties": false
      },
      "UpdatePreferenceRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {}
        },
        "required": ["key", "value"],
        "additionalProperties": false
      },
      "CliRpcMethod": {
        "type": "string",
        "enum": [
          "validateApiKey",
          "listConversations",
          "getConversation",
          "listMessages",
          "listModels",
          "getUserDefaultModel",
          "searchConversations",
          "sendMessage",
          "createConversation",
          "archiveConversation",
          "deleteConversation",
          "updateConversationModel",
          "renameConversation",
          "createBookmark",
          "listMemories",
          "listProjects",
          "listBookmarks",
          "listTemplates",
          "listTasks",
          "createTask",
          "updateTask",
          "completeTask",
          "deleteTask",
          "listNotes",
          "createNote",
          "updateNote",
          "deleteNote"
        ]
      },
      "CliRpcRequest": {
        "type": "object",
        "properties": {
          "method": {
            "$ref": "#/components/schemas/CliRpcMethod"
          },
          "params": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": ["method"],
        "additionalProperties": false
      },
      "SseEvent": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": ["snapshot", "update", "error", "heartbeat"]
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": ["event", "data"],
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health status",
        "responses": {
          "200": {
            "description": "Health envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations": {
      "get": {
        "tags": ["Conversations"],
        "summary": "List conversations",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200 }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Conversations"],
        "summary": "Create conversation",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{id}": {
      "get": {
        "tags": ["Conversations"],
        "summary": "Get conversation by id",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Conversations"],
        "summary": "Update conversation",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "model": { "type": "string" }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{id}/messages": {
      "get": {
        "tags": ["Messages"],
        "summary": "List messages",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ApiEnvelope" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Messages"],
        "summary": "Send message",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/{id}": {
      "get": {
        "tags": ["Messages"],
        "summary": "Get message",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Message",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/api/v1/preferences": {
      "get": {
        "tags": ["Preferences"],
        "summary": "Get preferences",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Preferences",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Preferences"],
        "summary": "Update preference",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePreferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated preference",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/stream/{conversationId}": {
      "get": {
        "tags": ["Streaming"],
        "summary": "Stream conversation messages",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE stream with events snapshot|update|error|heartbeat"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/stream": {
      "get": {
        "tags": ["Streaming"],
        "summary": "Stream conversations",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/preferences/stream": {
      "get": {
        "tags": ["Streaming"],
        "summary": "Stream preferences",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cli/rpc": {
      "post": {
        "tags": ["CLI"],
        "summary": "CLI/Raycast RPC endpoint",
        "security": [{ "apiKeyAuth": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CliRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RPC result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/api/v1/cli/messages/stream/{conversationId}": {
      "get": {
        "tags": ["CLI", "Streaming"],
        "summary": "CLI/Raycast SSE message stream",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/doc": {
      "get": {
        "tags": ["System"],
        "summary": "API documentation",
        "responses": {
          "200": {
            "description": "Swagger HTML or OpenAPI JSON"
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "tags": ["System"],
        "summary": "OpenAPI JSON",
        "responses": {
          "200": {
            "description": "OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
